<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<!-- Servlet 1: Expose the appengine datastore as an OData service endpoint -->
	<servlet>
		<servlet-name>OData</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
			<param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
			<param-value>org.odata4j.producer.resources.ODataResourceConfig</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>OData</servlet-name>
        <url-pattern>/datastore.svc/*</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet 2: Enable crossdomain access for browser clients -->
	<servlet>
		<servlet-name>CrossDomain</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
			<param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
			<param-value>org.odata4j.producer.resources.CrossDomainResourceConfig</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrossDomain</servlet-name>
        <url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	
</web-app>
